name: Ping Render
on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:
jobs:
  ping:
    permissions: {}
    runs-on: ubuntu-latest
    steps:
      - run: curl -s https://anonfly-server-1.onrender.com
      - run: curl -s https://anonfly-server-1.vercel.app
